@media(max-width:700px) {
    #menu-dp > ul > li {
        display: block;
        margin-left: 50px;
        font-size: 20px;
    }

    #menu-dp {
        text-align: center;
    }

    #sub-menu {
        display: none;
        background-color: rgba(145, 145, 145, 0.911);
        margin-right: 20px;
    }

    #menu-dp ul:hover #sub-menu {
        display: block;
        position: absolute;
    }

    #sub-menu > li {
        padding: 10px;
    }

    #sub-menu > li {
        transition: 1s;
    }

    #sub-menu > li:hover {
        background-color: rgb(190, 190, 190);
    }
}